<%= form_tag path, method: method_type do %>

  <label>Post Title:</label><br>
  <%= text_field_tag :title, existing_title %><br>
  
  <label>Post Description:</label><br>
  <%= text_area_tag :description, existing_description %><br>
  
  <%= submit_tag 'Submit Changes' %>
  
<% end %>

<!-- VARIABLES -->
<!-- path : the action path -->
<!-- method_type : the method (e.g. 'POST', 'PUT', etc.-->
<!-- existing_title : fill in form with this title if it exists-->
<!-- existing_description : fill in form with this description if it exists-->